:root {
  --light-gray: hsl(212, 46%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--light-gray);
  font-family: 'Outfit', sans-serif;
  color: var(--grayish-blue);
  height: 100vh;
  margin: 0;
  max-width: 1440px;
}

h1,
h2,
h3 {
  color: var(--dark-blue);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.card {
  width: 30rem;
  padding: 1.5rem;
  background: white;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 50px #8080804a;
  margin: auto;
}

.card__qr {
  width: 100%;
  border-radius: 1rem;
}

.card__heading {
  font-size: 2rem;
  padding: 1rem;
  margin: 1rem 0 0;
}

.card__content {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0 0 2rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 2.5%;
  width: auto;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
